body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    font-size: 16px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: rgba(223, 219, 219, 0.9);
  }
  
  @media (max-width: 480px) {
    body, html {
      font-size: 10px;
      line-height: 1.2em;
    }
  }
  .imagecontainer {
    position: relative;
    opacity: 0.7;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 70%;
  }
  .imagecontainer p {
    padding: 20px;
    margin: 0;
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(24, 22, 22, 0.9);
    border-radius: 20px;
  }
  
  #special {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  #special p {
    text-transform: none;
    font-size: 1.5rem;
  }
  
  .imagegs {
    background-image: url("./img/gs-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
  }
  
  .imagefb {
    background-image: url("./img/fb-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .imagebjk {
    background-image: url("./img/bjk-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .imagets {
    background-image: url("./img/ts-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
   
  @media (max-width: 480px) {
    .imagecontainer {
      background-attachment: scroll;
    }
  }
  .information {
    text-align: justify;
    padding: 40px 80px;
    text-indent: 70px;
  }
  .information h2 {
    text-align: center;
    text-indent: 0;
  }
  .information h2 a {
    text-decoration: none;
  }
  .information h2 a:hover {
    text-decoration: underline;
  }
  .information p {
    font-weight: 500;
  }
  
  .infogs {
    background-color: rgba(223, 219, 219, 0.8);
    color: #5f5b5b;
  }
  
  .infoother {
    background-color: rgba(223, 219, 219, 0.8);
    color: #5f5b5b;
  }
  

  